.vscode/**
.vscode-test/**
src/**
client/src/**
server/src/**
server/grammar/**
server/generated/**
test/**
dist/test/**
.gitignore
.github/**
**/tsconfig.json
**/.eslintrc*
eslint.config.js
**/*.map
nuxmv.md
